
			<h3>Desarrollado por Carlos Meneses</h3>
			<div>
				<img src="http://carlosmeneses.net/es/fotos/profile.png" />
			</div>
			<a href="http://carlosmeneses.net" target="_blank" >CarlosMeneses.Net</a>
